<div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="accordion accordion-flush m-1" id="currencyExchangesAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">

                        <div class="row">
                            <div class="col-1 pointer align-self-center m-l-5" (click)="onClickBack()">
                                <img src="assets/images/arrow-left.png" class="float-left">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title"><b>{{project.title | uppercase}}</b></h4>
                            </div>
                            <div class="col-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#currencyExchangesCollapse" aria-expanded="false"
                                        aria-controls="currencyExchangesCollapse">
                                </button>
                            </div>
                        </div>
                    </h2>
                    <div id="currencyExchangesCollapse" class="accordion-collapse collapse"
                         data-bs-parent="#currencyExchangesAccordion">
                        <hr/>
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="projectForm" (ngSubmit)="onSubmitProject()" novalidate
                                          class="form-signin">
                                        <div class="row m-3">
                                            <div class=" col-12 form-group">
                                                <label for="title">Project title<span
                                                    style="color: red;">*</span></label>
                                                <input type="text"
                                                       class="form-control"
                                                       formControlName="title"
                                                       placeholder="Project title"
                                                       id="title">
                                                <small class="form-text text-muted text-danger"
                                                       *ngIf="projectForm.controls['title'].touched && projectForm.controls['title'].errors?.['required']">
                                                    Please enter project title
                                                </small>
                                            </div>
                                            <div class="col-9 form-group">
                                                <label for="client">Client<span style="color: red;">*</span></label>

                                                <select formControlName="client" id="client" class="form-control">
                                                    <option value="" disabled>Select client</option>
                                                    <option *ngFor="let client of clients" style="color: black;"
                                                            [ngValue]="client.id">{{client.companyName}}</option>
                                                </select>

                                            </div>
                                            <div class="col-3 form-group">
                                                <label for="duration">Duration(Months)</label>
                                                <input type="number"
                                                       class="form-control"
                                                       formControlName="duration"
                                                       placeholder="Duration"
                                                       id="duration">
                                            </div>
                                            <div class="col-12 form-group">
                                                <label for="description">Description</label>
                                                <textarea type="number"
                                                          class="form-control"
                                                          formControlName="description"
                                                          placeholder="Description"
                                                          id="description">
            </textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-outline-success float-right" (click)="onSubmitProject()">Save
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block"><b
                    *ngIf="resources">{{calculateResourceQuantity()}}</b> Resources </h4>
                <!--                <button class="btn btn-outline-primary float-right" (click)="open(editResourceModal)">Add</button>-->
            </div>
            <div class="card-block">
                <div class="table-responsive scrollmenu m-3">
                    <table class="table mb-0 new-patient-table table-hover">
                        <thead>
                        <tr>
                            <th>Job title<span style="color: red;">*</span></th>
                            <th>Resource type<span style="color: red;">*</span></th>
                            <th>Basic salary<span style="color: red;">*</span></th>
                            <th *ngIf="selectedResourceType && selectedResourceType == ResourceTypeEnum.WORK_PACKAGE">
                                Workload
                            </th>
                            <th>
                                Nb resource
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>
                                <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate class="form-signin">
                                    <input type="text"
                                           formControlName="jobTitle"
                                           placeholder="Title of the resource"
                                           id="jobTitle">
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate class="form-signin">
                                    <select formControlName="resourceType" (change)="onChangeResourceType()">
                                        <option value="" disabled>Select resource type</option>
                                        <option *ngFor="let type of resourceTypes" [ngValue]="type">{{type}}</option>
                                    </select>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate class="form-signin">
                                    <select formControlName="basicSalaryCurrency" (change)="onChangeBasicSalary()">
                                        <option *ngFor="let currency of currencies"
                                                [ngValue]="currency">{{currency}}</option>
                                    </select>

                                    <input type="number"
                                           (change)="onChangeBasicSalary()"
                                           formControlName="basicSalary"
                                           placeholder="basic salary"
                                           id="basicSalary">

                                    <select formControlName="basicSalaryPeriod" (change)="onChangeBasicSalary()">
                                        <option *ngFor="let period of periods"
                                                [ngValue]="period">{{period}}</option>
                                    </select>
                                </form>
                            </td>
                            <td *ngIf="selectedResourceType && selectedResourceType == ResourceTypeEnum.WORK_PACKAGE">
                                <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate class="form-signin">
                                    <input type="number"
                                           formControlName="workload"
                                           placeholder="Workload"
                                           id="workload">
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate class="form-signin">
                                    <input type="number"
                                           formControlName="quantity"
                                           placeholder="nb resource"
                                           id="quantity">
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-success btn-sm"
                                        *ngIf="resourceForm.valid"
                                        (click)="onSubmit()">
                                    Save
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="m-3"></div>
                <div class="table-responsive scrollmenu m-3" *ngIf="resources && resources.length > 0">
                    <table class="table mb-0 new-patient-table table-hover">
                        <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Nb</th>
                            <th>Job title</th>
                            <th>Resource type</th>
                            <th>Workload</th>
                            <th>Basic salary</th>
                            <th>Allowance</th>
                            <th>Gratuity / End of service</th>
                            <th>Insurance</th>
                            <th>Annual flight ticket</th>
                            <th>VISA / Work Permit</th>
                            <th>Office</th>
                            <th>General support package</th>
                            <th>Laptop workstation</th>
                            <th>Licenses</th>
                            <th>Mobilization cost</th>
                            <th>Parking</th>
                            <th>Transportation</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let resource of resources">
                            <td>
                                <img class="aspect-square action "
                                     src="assets/images/duplicate.png"
                                     (click)="onClickResourceDuplicate(resource)"
                                     alt="duplicate"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     title="duplicate">
                                <img class="aspect-square action"
                                     src="assets/images/delete.png"
                                     data-bs-target="#resourceDeleteModal"
                                     (click)="onClickResourceToBeDeleted(resource)"
                                     alt="delete"
                                     data-bs-toggle="modal"
                                     data-bs-placement="top"
                                     title="delete">
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">{{resource.quantity ?? 1}}</td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <h2>{{resource.jobTitle}}</h2></td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">{{resource.resourceType}}</td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">{{resource.workload}}</td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.basicSalary!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.allowance!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.gratuity!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.insurance!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.flightTicket!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.workPermit!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.office!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.generalSupportPackage!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.laptopWorkstation!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.licenses!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.mobilizationCost!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.parking!"></app-amount>
                            </td>
                            <td (click)="openEditResourceModal(resource, editResourceModal)">
                                <app-amount [amount]="resource.transportation!"></app-amount>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="resources && resources.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <form [formGroup]="displayForm" (ngSubmit)="onSubmitDisplay()" novalidate class="form-signin">
                    <div class="row">
                        <div class="col-6">
                            <label for="period"><strong>Select a period</strong></label>
                            <select formControlName="period" (change)="onChangePeriod()"
                                    id="period" class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="currency"><strong>Select a currency</strong></label>
                            <select formControlName="currency" (change)="onChangeCurrency()"
                                    id="currency" class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-block">
                <div class="table-responsive scrollmenu m-3">
                    <table class="table mb-0 new-patient-table table-hover">
                        <thead>
                        <tr>
                            <th><h4>Costs</h4></th>
                            <th *ngFor="let currency of displayCurrencies">{{currency}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let period of displayPeriods">
                            <td><h2>{{period}}</h2></td>
                            <td *ngFor="let currency of displayCurrencies">
                                <h2>{{calculateCurrencyPeriodCost(currency, period) | amount}}</h2></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label for="margin">Margin (%)</label>
                        <div (mouseenter)="onMouseEnterEditMargin()"
                             (mouseleave)="onMouseLeaveEditMargin()">
                            <div *ngIf="!editMargin">
                                <b>{{project.margin | amount}}%</b>
                            </div>
                            <form [formGroup]="projectForm" (ngSubmit)="onSubmitProject()"
                                  novalidate class="form-signin" *ngIf="editMargin">
                                <input type="number"
                                       class="form-control"
                                       formControlName="margin"
                                       placeholder="margin"
                                       id="margin">
                            </form>
                        </div>

                    </div>
                    <div class="col">
                        <label for="riskProvision">Risk provision (%)</label>
                        <div (mouseenter)="onMouseEnterEditRiskProvision()"
                             (mouseleave)="onMouseLeaveEditRiskProvision()">
                            <div *ngIf="!editRiskProvision">
                                <b>{{project.riskProvision | amount}}%</b>
                            </div>

                            <form [formGroup]="projectForm" (ngSubmit)="onSubmitProject()" novalidate
                                  class="form-signin" *ngIf="editRiskProvision">
                                <input type="number"
                                       class="form-control"
                                       formControlName="riskProvision"
                                       placeholder="Risk provision"
                                       id="riskProvision">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive scrollmenu m-3">
                    <table class="table mb-0 new-patient-table table-hover">
                        <thead>
                        <tr>
                            <th><h4>Prices</h4></th>
                            <th *ngFor="let currency of displayCurrencies">{{currency}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let period of displayPeriods ; let i = index">
                            <td><h2>{{period}}</h2></td>
                            <td *ngFor="let currency of displayCurrencies ; let j = index"
                                (mouseleave)="onMouseLeaveEditPrice()"
                                (mouseenter)="onMouseEnterEditPrice(calculateCurrencyPeriodPrice(currency, period), currency, period, i, j)">
                                <h2 *ngIf="'' + i + j != getEditPriceTag()">
                                    {{calculateCurrencyPeriodPrice(currency, period) | amount}}
                                </h2>
                                <div [formGroup]="pricesForm" *ngIf="'' + i + j == getEditPriceTag()">
                                    <input type="number"
                                           (change)="onChangePrice(period, currency, $event)"
                                           formControlName="amount"
                                           class="form-control"
                                           placeholder="{{calculateCurrencyPeriodPrice(currency, period)}}">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete confirmation -->
<div class="modal fade" id="resourceDeleteModal" tabindex="-1" aria-labelledby="resourceDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resourceDeleteModalLabel">Delete resource</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Do you really want to delete this resource?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="onClickDismissResource()">Close
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onClickDeleteResource()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #editResourceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit resource</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate class="form-signin">
            <div class="row">
                <div class="col divider-left">
                    <div class="form-group">
                        <label for="resourceJobTitle">Job title<span style="color: red;">*</span></label>
                        <input type="text"
                               formControlName="jobTitle"
                               class="form-control"
                               placeholder="Title of the resource"
                               id="resourceJobTitle">
                        <small class="form-text text-muted text-danger"
                               *ngIf="resourceForm.controls['jobTitle'].touched && resourceForm.controls['jobTitle'].errors?.['required']">
                            Please enter job title!
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="resourceJobTitle">Resource type<span style="color: red;">*</span></label>
                        <select formControlName="resourceType" class="form-control">
                            <option value="" disabled>Select resource type</option>
                            <option *ngFor="let type of resourceTypes" [ngValue]="type">{{type}}</option>
                        </select>
                        <small class="form-text text-muted text-danger"
                               *ngIf="resourceForm.controls['resourceType'].touched && resourceForm.controls['resourceType'].errors?.['required']">
                            Please select resource type!
                        </small>
                    </div>
                    <div class="row form-group">
                        <label for="resourceBasicSalary">Basic salary<span style="color: red;">*</span></label>
                        <div class="col-3">
                            <select formControlName="basicSalaryCurrency"
                                    class="form-control"
                                    (change)="onChangeBasicSalary()">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   (change)="onChangeBasicSalary()"
                                   class="form-control"
                                   formControlName="basicSalary"
                                   placeholder="basic salary"
                                   id="resourceBasicSalary">
                        </div>
                        <div class="col-4">
                            <select formControlName="basicSalaryPeriod"
                                    class="form-control"
                                    (change)="onChangeBasicSalary()">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="resourceWorkload">Workload</label>
                            <input type="number"
                                   formControlName="workload"
                                   class="form-control"
                                   placeholder="Workload"
                                   id="resourceWorkload">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="resourceQuantity">Nb resource</label>
                            <input type="number"
                                   formControlName="quantity"
                                   class="form-control"
                                   placeholder="Nb resource"
                                   id="resourceQuantity">
                        </div>
                    </div>
                </div>
                <div class="col divider-left">
                    <div class="row form-group">
                        <label for="resourceAllowance">Allowance</label>
                        <div class="col-3">
                            <select formControlName="allowanceCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="allowance"
                                   placeholder="Allowance"
                                   id="resourceAllowance">
                        </div>
                        <div class="col-4">
                            <select formControlName="allowancePeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceGratuity">Gratuity / End of service</label>
                        <div class="col-3">
                            <select formControlName="gratuityCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="gratuity"
                                   placeholder="Gratuity / End of service"
                                   id="resourceGratuity">
                        </div>
                        <div class="col-4">
                            <select formControlName="gratuityPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceInsurance">Insurance</label>
                        <div class="col-3">
                            <select formControlName="insuranceCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="insurance"
                                   placeholder="Insurance"
                                   id="resourceInsurance">
                        </div>
                        <div class="col-4">
                            <select formControlName="insurancePeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceFlightTicket">Annual flight ticket</label>
                        <div class="col-3">
                            <select formControlName="flightTicketCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="flightTicket"
                                   placeholder="Annual flight ticket"
                                   id="resourceFlightTicket">
                        </div>
                        <div class="col-4">
                            <select formControlName="flightTicketPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceWorkPermit">VISA / Work Permit</label>
                        <div class="col-3">
                            <select formControlName="workPermitCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="workPermit"
                                   placeholder="VISA / Work Permit"
                                   id="resourceWorkPermit">
                        </div>
                        <div class="col-4">
                            <select formControlName="workPermitPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceOffice">Office</label>
                        <div class="col-3">
                            <select formControlName="officeCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="office"
                                   placeholder="Office"
                                   id="resourceOffice">
                        </div>
                        <div class="col-4">
                            <select formControlName="officePeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row form-group">
                        <label for="resourceGeneralSupportPackage">General support package</label>
                        <div class="col-3">
                            <select formControlName="generalSupportPackageCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="generalSupportPackage"
                                   placeholder="General support package"
                                   id="resourceGeneralSupportPackage">
                        </div>
                        <div class="col-4">
                            <select formControlName="generalSupportPackagePeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceLaptopWorkstation">Laptop workstation</label>
                        <div class="col-3">
                            <select formControlName="laptopWorkstationCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="laptopWorkstation"
                                   placeholder="Laptop workstation"
                                   id="resourceLaptopWorkstation">
                        </div>
                        <div class="col-4">
                            <select formControlName="laptopWorkstationPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceLicenses">Licenses</label>
                        <div class="col-3">
                            <select formControlName="licensesCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="licenses"
                                   placeholder="Licenses"
                                   id="resourceLicenses">
                        </div>
                        <div class="col-4">
                            <select formControlName="licensesPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceMobilizationCost">Mobilization cost</label>
                        <div class="col-3">
                            <select formControlName="mobilizationCostCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="mobilizationCost"
                                   placeholder="Mobilization cost"
                                   id="resourceMobilizationCost">
                        </div>
                        <div class="col-4">
                            <select formControlName="mobilizationCostPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceParking">Parking</label>
                        <div class="col-3">
                            <select formControlName="licensesCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="parking"
                                   placeholder="Parking"
                                   id="resourceParking">
                        </div>
                        <div class="col-4">
                            <select formControlName="parkingPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="resourceTransportation">Transportation</label>
                        <div class="col-3">
                            <select formControlName="transportationCurrency"
                                    class="form-control">
                                <option *ngFor="let currency of currencies"
                                        [ngValue]="currency">{{currency}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number"
                                   class="form-control"
                                   formControlName="transportation"
                                   placeholder="Transportation"
                                   id="resourceTransportation">
                        </div>
                        <div class="col-4">
                            <select formControlName="transportationPeriod"
                                    class="form-control">
                                <option *ngFor="let period of periods"
                                        [ngValue]="period">{{period}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClickEditResourceModalClose()">Close</button>
        <button type="button" class="btn btn-success" [disabled]="!resourceForm.valid"
                (click)="onSubmit()">Save
        </button>
    </div>
</ng-template>
